<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}


 <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/fontello.css" type="text/css" />

    <link rel="shortcut icon" href="favicon.png">
    <link rel="icon" type="image/png" href="favicon.png">
    <script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>
</head>
<body>
   <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1621941878119910";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="parent-wrapper">
<!--       <div class="header-container"> -->
      <div class="header-container">
        <header class="wrapper clearfix">
          <img src="/img/apteekkitunnus2_0.png" height="180px" alt="Alavieskan apteekki">
          <h1 class="title"><!--<a href="{{ "index"|link }}" id="logo">-->{{ site_title }}<!--</a>--></h1>
          <h2 class="title2"> {{ meta.subtitle }}</h2>
          <nav>
              <ul>
                  {% for page in pages %}
                      <li{% if page.id == current_page.id %} class="active"{% endif %}>
                          <a href="{{ page.url }}">{{ page.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
          </nav>
        </header>
      </div>
      <div class="header-aa"></div>

      <div class="main-container">
        <section id="content">
            <div class="main wrapper clearfix">       
              {% if meta.title == 'Etusivu' %}
              <aside>
                  <h3>Yhteystiedot</h3>
                    <address>
                        <strong>Alavieskan apteekki</strong><br>
                        Keskustie 7<br>
                        85200 Alavieska<br>
                          <a href="https://www.google.fi/maps/place/Alavieskan+apteekki/@64.1671963,24.3021477,17z/data=!4m13!1m7!3m6!1s0x4680de622ca360f5:0xc43b5e974230ed76!2sKeskustie+7,+85200+Alavieska!3b1!8m2!3d64.1671963!4d24.3043364!3m4!1s0x4680de622eab6221:0x35921c459c011010!8m2!3d64.1671963!4d24.3043365?hl=en" target="_blank" title="Google Map">
    <img src="./img/Google-Maps-icon.png" width="47" height="47" alt=""></a>
    
                        <br>
                        <abbr title="Puhelin">puh:</abbr> 08-430153<br>
                        <abbr title="Fax">fax:</abbr> 08-430214
                    </address>
    
                    <address>
                        <a href="mailto:alavieskan.apteekki@apteekit.net">alavieskan.apteekki@apteekit.net</a>
                    </address>
                    
                   <h3 style="margin-bottom:5px;">Aukioloaika</h3>
                  <b>ma-pe 9-17</b>
                  <p> <strong>Apteekin palvelupiste Kalajoella
                  ABC-Hiekkasärkät-liikenneaseman yhteydessä!</strong></p>
<p>Apteekin yleisimmät ilman reseptiä myytävät lääkkeet ja apteekkituotteet matkasi varrelta</p>
    					</aside>
    					{% endif %}
    					
    					{{ content }} 
<!--               <div class="wrapper clearfix"> -->
              <aside>
            <div class="fb-page" data-href="https://www.facebook.com/alavieskanapteekki/" 
            data-tabs="timeline" data-width="400" data-height="70" data-small-header="false" 
            data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false">
              <blockquote cite="https://www.facebook.com/alavieskanapteekki/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/alavieskanapteekki/">Alavieskan Apteekki</a>
              </blockquote>
            </div>
            </aside>
<!--             </div> -->
        </div>
            
        </section>
      </div>

      <div class="footer-container">
        <footer class="wrapper">
          <div class="social">
            <!--        
                {% for social in meta.social %}
                    <a href="{{ social.url }}" title="{{ social.title }}">
                      <span class="icon-{{ social.icon }}"></span>
                    </a>
                {% endfor %}
                -->
          </div>
          <ul>
                <li>
                    <h3>&copy; Alavieskan apteekki 2017</h3>
                </li>
                <li>
                  <a class="footer-icon" href="http://www.avainapteekit.fi"><img src="/img/LiikkujanApteekki_logo_nettiin.gif" alt="Liikkujan Apteekki" /></a>
                </li>
                <li>
                <a class="footer-icon" href="http://laatuapteekit.fi"><img src="/img/Laatuapteekit_logo_musta_600.jpg"></a>
                </li>
          </ul>
        </footer>
      </div>
      </div>
</body>
</html>
